<li>
  <a href="<%= workbenches_path %>">Workbench</a>
  <ul>
    <li>
      <a href="<%= workbenches_path(category: "風冷") %>">風冷</a>
      <ul>
        <% Workbench.all.where(category_id: 3).each do |workbench| %>
          <li>
            <%= link_to workbench.title, workbench %>
          </li>
        <% end %>
      </ul>
    </li>
    <li>
      <a href="<%= workbenches_path(category: "管冷") %>">管冷</a>
      <ul>
        <% Workbench.all.where(category_id: 4).each do |workbench| %>
          <li>
            <%= link_to workbench.title, workbench %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</li>