<nav class="sticky-top fixed-top navbar-expand-lg" id="nav">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav" id="sf-menu">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link #{current? "current", root_path}", id: "dropfont" %>
        </li>
        <li class="nav-item">
          <%= link_to "About us", about_path, class: "nav-link #{current? "current", about_path}", id: "dropfont" %>
        </li>
        <%= render 'shared/dropdown' %>
        <li class="nav-item">
          <%= link_to "News", news_path, class: "nav-link #{current? "current", news_path}", id: "dropfont" %>
        </li>
        <li class="nav-item">
          <% if current_administrator&.admin %>
            <%= link_to "Feedback", feedback_path, class: "nav-link #{current? "current", feedback_path}", id: "dropfont" %>
          <% else %>
            <%= link_to "Contact us", contact_chimao_path, class: "nav-link #{current? "current", contact_chimao_path}", id: "dropfont" %>
          <% end %>
        </li>
        <% if current_administrator %>
          <li class="nav-item">
              <%= link_to "Log out", destroy_administrator_session_path, :method => :delete, class: "nav-link", id: "dropfont" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function() {
    // initialise plugin
    var example = $('#sf-menu').superfish({
      //add options here if required
    });

    // buttons to demonstrate Superfish's public methods
    $('.destroy').on('click', function(){
      example.superfish('destroy');
    });

    $('.init').on('click', function(){
      example.superfish();
    });

    $('.open').on('click', function(){
      example.children('li:first').superfish('show');
    });

    $('.close').on('click', function(){
      example.children('li:first').superfish('hide');
    });
  });
</script>
