<nav class="navbar sticky-top navbar-expand-lg navbar-light" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand main" href="<%= root_path %>">
      <%= image_tag('/Datetime.png', class: "d-inline-block align-top", id: "nav-icon") %>
      ChiMao
    </a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link dropfont" %>
        </li>
        <li class="nav-item">
          <%= link_to "About us", about_path, class: "nav-link dropfont" %>
        </li>
        <%= render 'shared/dropdown' %>
        <li class="nav-item">
          <%= link_to "News", news_path, class: "nav-link dropfont" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact us", '#', class: "nav-link dropfont" %>
        </li>
        <% if current_administrator %>
          <li><%= link_to "Log out", destroy_administrator_session_path, :method => :delete, class: "nav-link dropfont" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

