<section class="features-icons text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-balance-scale m-auto text-primary"></i>
          </div>
          <h3>Quality</h3>
          <p class="mb-0">Focus on quality for a long time.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fab fa-battle-net m-auto text-primary"></i>
          </div>
          <h3>Efficient</h3>
          <p class="mb-0">Deliver the goods to the customer in the shortest time.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-chart-line m-auto text-primary"></i>
          </div>
          <h3>Creative</h3>
          <p class="mb-0">Continuously develop new products.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-6 order-lg-2"><%= image_tag('/home/bg-showcase-1.jpg', class: "w-100") %></div>
    <div class="col-lg-6 order-lg-1 mid-features">
      <h2 class="lastest-news">Latest News</h2>
      <%= simple_format(Message.last.content, class: "news-content") %>
      <p class="news-time">( <%= Message.last.created_at.strftime("%Y-%m-%d") %> )</p>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-lg-6"><%= image_tag('/home/bg-showcase-2.jpg', class: "w-100") %></div>
    <div class="col-lg-6 mid-features">
      <h2 class="new-product">Newest Production</h2>
      <h4 class="item-top"><%= Showcase.last.title %></h4>
      <%= simple_format truncate(Showcase.last.description, length: 50), class: "item-body" %>
      <%= link_to 'Read more', Showcase.last, class: "read" %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-lg-6 order-lg-2"><%= image_tag('/home/bg-showcase-3.jpg', class: "w-100") %></div>
    <div class="col-lg-6 order-lg-1 my-auto" style="padding-left: 10px;">
      <h2>Convenience</h2>
      <p class="mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
    </div>
  </div>
</div>