<!--
<div class="container-fluid p-0">
  <h1 class="home-header">Category</h1>
  <div class="row no-gutters">
    <div class="col-lg-6 order-lg-2"><%= image_tag('/home/bg-showcase-1.jpg', class: "w-100") %></div>
    <div class="col-lg-6 order-lg-1 my-auto" style="padding-left: 10px;">
      <h2>Fully Responsive Design</h2>
      <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-lg-6"><%= image_tag('/home/bg-showcase-2.jpg', class: "w-100") %></div>
    <div class="col-lg-6 my-auto" style="padding-left: 10px;">
      <h2>Updated For Bootstrap 4</h2>
      <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-lg-6 order-lg-2"><%= image_tag('/home/bg-showcase-3.jpg', class: "w-100") %></div>
    <div class="col-lg-6 order-lg-1 my-auto" style="padding-left: 10px;">
      <h2>Easy to Use &amp; Customize</h2>
      <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div class="p-5">
        <%= image_tag('/home/bg-showcase-1.jpg', class: "img-fluid rounded-circle") %>
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="p-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="p-5">
        <%= image_tag('/home/bg-showcase-2.jpg', class: "img-fluid rounded-circle") %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="p-5">
        <h2 class="display-4">We salute you!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div class="p-5">
        <%= image_tag('/home/bg-showcase-3.jpg', class: "img-fluid rounded-circle") %>
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="p-5">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
      </div>
    </div>
  </div>
</div>