<h4 class="c"><i class="fas fa-cube" id="t"></i>Feedback</h4>
<% @contact.each do |contact| %>
  <div class="jumbotron shadow rounded" id="contactJum">
    <h1 class="contact_title"><%= contact.title %></h1>
    <div class="row" id="contact_info">
      <div class="col-lg-4">
        <p>聯絡人：<%= contact.name %></p>
        <p>公司名稱：<%= contact.company %></p>
      </div>
      <div class="col-lg-4">
        <p>地址：<%= contact.address %></p>
        <p>郵遞區號：<%= contact.zip %></p>
      </div>
      <div class="col-lg-4">
        <p>電話：<%= contact.phone %></p>
        <p>傳真：<%= contact.fax %></p>
        <p>信箱：<%= contact.email %></p>
      </div>
    </div>
    <hr class="my-4">
    <p class="contact_content">
      <% if contact.description.length > 100 %>
        <%= truncate(contact.description, length: 100) %>
        <%= link_to 'Read more', '', class: "read-more-#{contact.id}" %>
        <script>
          $('.read-more-<%= contact.id %>').on('click', function(e) {
            e.preventDefault()
            $(this).parent().html('<%= escape_javascript contact.description %>')
          })
        </script>
      <% else %>
        <%= contact.description %>
      <% end %>
    </p>
    <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "del" %>
  </div>
<% end %>