<h4 class="c"><i class="fas fa-cube" id="t"></i>Showcase</h4>
<div class="row">
  <% @showcase.each do |showcase| %>
    <div class="col-lg-4">
      <div class="card" id="cards-space">
        <h5 class="card-header" id="cards-header">產品型號：<%= showcase.model_number %></h5>
        <%= image_tag(showcase.product_url(:thumb), class: "card-img-top", id: "cards-img") if showcase.product_url.present? %>
        <div class="card-body">
          <h5 class="card-title"><%= showcase.title %></h5>
          <p class="card-text" id="cards-content"><%= truncate(showcase.description, length: 50) %></p>
          <%= link_to "Detail", showcase, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>