<div class="row">
  <% @workbench.each do |workbench| %>
    <div class="col-lg-4">
      <div class="card" id="cards-space">
        <h5 class="card-header" id="cards-header">產品型號：<%= workbench.model_number %></h5>
        <%= image_tag(workbench.product_url(:thumb), class: "card-img-top", id: "cards-img") if workbench.product_url.present? %>
        <div class="card-body">
          <h5 class="card-title"><%= workbench.title %></h5>
          <p class="card-text" id="cards-content"><%= truncate(workbench.description, length: 50) %></p>
          <%= link_to "Detail", workbench_path(workbench), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>