<!DOCTYPE html>
<html>
  <head>
    <title>ChiMao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">
  </head>

  <body class="featured">
    <div id="container">
      <%= render 'shared/header' %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/sidebar' %>
      <div class="container-fluid p-0">
        <div class="container p">
          <%= render 'shared/carousel' %>
          <%= render 'shared/breadcrumbs' %>
          <%= yield %>
        </div>
        <% unless params[:controller]=="contacts" %>
          <%= render 'shared/snippet' %>
        <% end %>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
