<!DOCTYPE html>
<html>
  <head>
    <title>ChiMao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">
  </head>

  <body class="featured">
    <div id="container">
      <%= render 'shared/header' %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/sidebar' %>
      <% if params[:controller]=="pages" || params[:controller]=="messages" %>
        <div class="card bg-dark text-white" style="border-radius:0px;">
          <img class="card-img" src="/pexels.jpg" style="height:40vh;">
          <div class="card-img-overlay" style="top:25%;left:10%;">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      <% end %>
      <div class="container">
        <% if params[:controller]=="showcases" || params[:controller]=="workbenches" %>
          <%= render 'shared/carousel' %>
        <% end %>
        <%= render 'shared/breadcrumbs' %>
        <%= yield %>
      </div>
      <% unless params[:controller]=="contacts" %>
        <%= render 'shared/snippet' %>
      <% end %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
