<!DOCTYPE html>
<html>
  <head>
    <title>ChiMao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/carousel' %>
    <div class="container" style="padding: 30px;">
      <%= render 'shared/breadcrumbs' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
