<!DOCTYPE html>
<html>
  <head>
    <title>ChiMao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">
  </head>

  <body class="featured">
      <%= render 'shared/header' %>
      <%= render 'shared/navbar' %>
      <%= render 'shared/sidebar' %>
      <% if params[:controller]=="pages" || params[:controller]=="messages" %>
        <%= render 'shared/banner' %>
      <% end %>
      <div class="container">
        <% if params[:controller]=="showcases" || params[:controller]=="workbenches" %>
          <%= render 'shared/carousel' %>
        <% end %>
        <%= render 'shared/breadcrumbs' %>
        <%= yield %>
      </div>
      <%= render 'shared/snippet' %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
